.brand {
  display: flex !important;

  .container {
    margin: 3.75rem 0 5.9375rem 0;
    display: flex;
    width: 13.1875rem;
    height: 13.1875rem;
    border-radius: 50%;
    box-shadow: 0rem 0.4375rem 1.25rem 0rem rgba(0, 0, 0, 0.13);
  
    img {
      max-width: 10.75rem;
    }
  }
}



