.barVtex {
  padding: 0.75rem 3.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: 0.0625rem solid #F0F0F0;
  border-left: none;
  border-right: none;

  .form {
    position: relative;
    input {
      width: 41.0625rem;
      padding: 0.875rem 1.5rem;
      border-radius: 0.625rem;
      background-color: #F6F5F2;
      border: none;
      font-size: 0.875rem;
      font-family: "Poppins";
      font-weight: 500;
    }

    button {
      position: absolute;
      top: 0.5625rem;
      right: 1.5rem;
      background-color: transparent;
      border: none;
    }
   
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    a:not(:first-child) {
      margin-left: 2rem;
    }
  }
}