.newsletter {
  background-color: #fff;
  padding: 2.5rem 2.125rem;
  border-radius: 0.625rem;
  color: #3F3F40;
  width: 23.75rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;

  .text {
    max-width: 19.8125rem;

    h1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 1.625rem;
      max-width: 34ch;
      text-transform: uppercase;
      margin-bottom: 0.9375rem;
    }
  
    span {
      font-size: 1.3125rem;
      font-weight: 700;
      line-height: 1.75rem;
    }
  
    p {
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 1.1875rem;
      text-align: center;
      max-width: 40ch;
      margin-bottom: 1.9375rem;
    }
  }

  form {
    display: flex;
    justify-content: space-between;

    input {
      margin-right: 0.625rem;
      padding: 0.75rem 1.5625rem;
      border: 0.0625rem solid #2A2A2A;
      border-radius: 0.25rem;

      &::placeholder {
        color: #C0C0C0;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.25rem;
        text-transform: uppercase;
      }
    }

    button {
      padding: 0.75rem 1.5625rem;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 700;
    }
  }
}