.parceirosData {
  width: 574px;
  height: 350px;
  position: relative;
  color: #fff;
  overflow: hidden;
  background-size: cover;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 85.04%);
    opacity: 0.8;
  }

  .text {
    padding: 40px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    width: 100%;

    h1 {
      font-size: 40px;
      font-weight: 700;
    }
  
    p {
      margin-top: 8px;
      font-size: 16px;
      font-weight: 400;
      max-width: 18ch;
    }

    button {
      width: 131px;
      height: 48px;
      font-size: 16px;
      margin-top: 32px;
      border-radius: 10px;
      font-weight: 900;
    }
  }
}

.parceiros {
  display: flex;
  justify-content: space-between;
  max-width: 90vw;
  margin: 70px auto 60px auto;
}