.card {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.75rem;
  box-shadow: 0rem 0.1875rem 1.1875rem 0rem rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  width: 16.875rem !important;

  .image {
    display: flex;
    justify-content: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    color: #3F3F40;

    .title {
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 0.75rem;
    }

    .price {
      color: #808080;
      font-size: 16px;
      font-weight: 400;
      text-decoration:line-through;
      margin: 0.75rem 0 0.125rem 0;
    }

    .discountPrice {
      font-size: 20px;
      font-weight: 700;
    }

    .installment {
      font-size: 12px;
      font-weight: 400;
      margin: 0.125rem 0 0.5rem 0;
    }

    .delivery {
      color: #F71963;
      font-size: 12px;
      font-weight: 400;
    }

    button {
      height: 44px;
      border-radius: 4px;
      color: #FFF;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 0.75rem;
    }
  }
}