.rangeData {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.375rem;

  img {
    margin-right: 0.625rem;
  }

  p {
    display: flex;
    color: #9F9F9F;
    font-weight: 500;
    font-size: 0.75rem;

    span {
      margin: 0 0.3125rem;
      color: #F71963;
      font-weight: 600;
    }
  }
}

.range {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}